AG_09_DEV_INTELLIGENCE.json
{
  "name": "AG_09_DEV_INTELLIGENCE",
  "nodes": [
    {
      "id": "a9000000-0001-4000-8000-000000000001",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ],
      "parameters": {}
    },
    {
      "id": "a9000000-0001-4000-8000-000000000002",
      "name": "Setup Instructions",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        250,
        60
      ],
      "parameters": {
        "content": "## AG_09 — Dev Intelligence\n**Model:** claude-haiku-4-5 (cost-optimized)\n**Max tokens:** 1024\n**API:** HTTP → api.anthropic.com/v1/messages\n**Credential:** ANTHROPIC_HTTP_HEADER_AUTH\n**Triggered by:** AG_00 only",
        "height": 160,
        "width": 560,
        "color": 5
      }
    },
    {
      "id": "a9000000-0001-4000-8000-000000000003",
      "name": "Build Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst t = new Date().toISOString();\nvar upstream=item.upstream_outputs||{};\nvar keys=Object.keys(upstream);\nvar pMetrics=keys.map(function(k){var p=upstream[k]||{};return{persona:p.persona_name||k,status:p.status||'unknown',duration_ms:(p.metrics&&p.metrics.duration_ms)||0};});\nvar totalDur=pMetrics.reduce(function(s,p){return s+p.duration_ms;},0);\nvar metrics={persona_metrics:pMetrics,total_personas:keys.length,total_duration_ms:totalDur,failed_count:pMetrics.filter(function(p){return p.status==='failed';}).length,blocked_count:pMetrics.filter(function(p){return p.status==='blocked';}).length};\nvar prompt='Role: Dev Intelligence analyst. JSON only, no markdown.\\nMETRICS: '+JSON.stringify(metrics)+'\\nUPSTREAM_KEYS: '+JSON.stringify(keys)+'\\nReturn this exact JSON:\\n'+JSON.stringify({request_id:item.request_id||'unknown',persona_name:'AG_09_DEV_INTELLIGENCE',status:'success|failed',summary:'<1 sentence>',structured_output:{total_personas:metrics.total_personas,total_ms:metrics.total_duration_ms,health_score:0,bottlenecks:[{persona:'<str>',issue:'<str>'}],git_summary:'<1 paragraph>',doc_summary:'<1 paragraph>',improvement_suggestions:[]},assumptions:[],risks:[],blocking_questions:[],handoff_recommendation:{next_personas:['AG_10_RESPONSE_FORMATTER'],reason:'metrics ready'},metrics:{started_at:''+t,ended_at:'',duration_ms:0,iteration_count:1}});\nvar apiBody = {model:'claude-haiku-4-5-20251001',max_tokens:1024,messages:[{role:'user',content:prompt}]};\nreturn [{json:{...item,apiBody,started_at:t,computed_metrics:metrics}}];"
      }
    },
    {
      "id": "a9000000-0001-4000-8000-000000000004",
      "name": "HTTP Request - Anthropic",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        750,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.apiBody) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "ANTHROPIC_HTTP_CRED_ID",
          "name": "ANTHROPIC_HTTP_HEADER_AUTH"
        }
      }
    },
    {
      "id": "a9000000-0001-4000-8000-000000000005",
      "name": "Parse Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "parameters": {
        "jsCode": "const item = $input.first().json;\nconst end = new Date().toISOString();\nconst start = item.started_at || end;\nlet rawText = '';\ntry {\n  if (item.content && Array.isArray(item.content)) { rawText = item.content[0].text || ''; }\n  else if (typeof item.content === 'string') { rawText = item.content; }\n} catch(e) {}\nlet out;\ntry { var m=rawText.match(/\\{[\\s\\S]*\\}/); out=m?JSON.parse(m[0]):{error:'parse_failed',raw:rawText.slice(0,400)}; }\ncatch(e){ out={error:e.message,raw:rawText.slice(0,400)}; }\nvar dur=Math.max(0,new Date(end)-new Date(start));\nif(out.metrics){out.metrics.ended_at=end;out.metrics.duration_ms=dur;}\nreturn [{json:{\n  request_id:item.request_id||'unknown',\n  persona_name:out.persona_name||'UNKNOWN',\n  status:out.error?'failed':(out.status||'success'),\n  summary:out.summary||'Complete.',\n  structured_output:out.structured_output||out,\n  assumptions:out.assumptions||[],\n  risks:out.risks||[],\n  blocking_questions:out.blocking_questions||[],\n  handoff_recommendation:out.handoff_recommendation||{next_personas:[],reason:'done'},\n  metrics:{started_at:start,ended_at:end,duration_ms:dur,iteration_count:1}\n}}];"
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Build Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Request": {
      "main": [
        [
          {
            "node": "HTTP Request - Anthropic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Anthropic": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a9000000-0001-4000-8000-000000000099",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "AG_MULTIAGENT_SYSTEM"
  },
  "id": "AG_09_DEV_INTELLIGENCE",
  "tags": [
    {
      "name": "AG_MULTIAGENT"
    }
  ]
}